{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}My Website{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/as.css' %}">
</head>
<body bgcolor=skyblue> 
    <header>

         <img src="{% static 'img/m.jpg' %}">
<hr >
        <h1 ><center>Mother Theresa Institute Of Computer Applications</center></h1>
<hr>
	<h2><marquee direction=left>MTICA </marquee></h2>
    </header>

    <main>
        {% block content %}
        {% endblock %}
    </main>
    <footer>
        <p>&copy; 2025 My Website</p>
    </footer>
</body>
</html>