{% extends 'base.html' %}

{% block title %}Home Page{% endblock %}

{% block content %}
<div class="navbar">
   
    <div class="dropdown">
   <button class="dropbtn">Sem-1</button>
      <div class="dropdown-content">
    <a href="{% url 'mca101' %}">DMS</a>
   <a href="{% url 'mca102' %}">JAVA</a>
   <a href="{% url 'mca103' %}">Co</a>
   <a href="{% url 'mca104' %}">OS</a>
   <a href="{% url 'mca105' %}">AFM</a>
   <a href="{% url 'mca106' %}">Java Lab</a>
   <a href="{% url 'mca107' %}">OS Lab</a>
   <a href="{% url 'mca108' %}">Co Lab</a>
        </div></div>
<div class="dropdown">
   <button class="dropbtn">Sem-2</button>
      <div class="dropdown-content">
   <a href="{% url 'mca201' %}">COOR</a>
   <a href="{% url 'mca202' %}">Ds java</a>
    <a href="{% url 'mca203' %}">DCCN</a>
   <a href="{% url 'mca204' %}">ADBMS</a>
   <a href="{% url 'mca205' %}">E-commerce</a>
   <a href="{% url 'mca206' %}">Group Discussion</a>
   <a href="{% url 'mca207' %}">DCCN LAB</a>
   <a href="{% url 'mca208' %}">DS LAB</a>
   <a href="{% url 'mca209' %}">ADBMS Lab</a>
        </div></div>
<div class="dropdown">
   <button class="dropbtn">Sem-3</button>
      <div class="dropdown-content">
   <a href="{% url 'mca301' %}">Software Engineering</a>
   <a href="{% url 'mca302' %}">Computer Graphics</a>
   <a href="{% url 'mca303' %}">Web Technologys</a>
    <a href="{% url 'mca304' %}">Data werhousing and Data mining</a>
   <a href="{% url 'mca305' %}">Cryptoropht and Network security</a>
   <a href="{% url 'mca306' %}"> courses offered by Other</a>
    <a href="{% url 'mca307' %}">Technical Seminar</a>
   <a href="{% url 'mca308' %}">Software Lav</a>
   <a href="{% url 'mca309' %}">Web Technologing Lab</a>
   <a href="{% url 'mca310' %}">Project</a>
    </div></div>
<div class="dropdown">
  <button class="dropbtn">Sem-4</button>
      <div class="dropdown-content">
   <a href="{% url 'mca401' %}">Cloud Computing</a>
   <a href="{% url 'mca402' %}">Essentials of Data</a>
    <a href="{% url 'mca403' %}">Project work</a>
        </div></div>
<div class="dropdown">
  <button class="dropbtn">Faculty</button>
      <div class="dropdown-content">
   <a href="{% url 'mca501' %}">Prabakhar naidu</a>
   <a href="{% url 'mca502' %}">Murali mohan</a>
   <a href="{% url 'mca503' %}">Chandra </a>
    <a href="{% url 'mca504' %}">Hasya</a>
     <a href="{% url 'mca505' %}">Praveen chowdary</a>
</div></div>
<div class="dropdown">
  <button class="dropbtn">About</button>
      <div class="dropdown-content">
       <a href="{% url 'mca501' %}">About</a>
</div></div>
</div>
<pre> <h1> Welcom 
		to	
	     		os lab </h1></pre>
{% endblock %}
